@use "../../styles/partials/_globals.scss" as *;
// @use "./styles/partials/_globals.scss" as *;
// @use "./styles/partials/_typography.scss" as *;

.desktop {
  @include desktop {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }
}
