@use '../../styles/partials/_globals.scss' as *;

.video-info {
    
    &__section{
        padding: 0 16px;
    }
    
    &__title {
        font-size: 26px;
        line-height: 45px;
        border-bottom: 2px solid $color-mercury;
        @include mobilepadding;
    }
    
    &__item-color {
        color: $color-silver;
    }
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        @include mobilepadding;
        margin: .5em 0;
    }        

    &__list-gap {
        display: flex;
        justify-content: space-between;
        width: 85%;
        margin: 10px 0;
    }

    &__item-icon {
        display: flex;
    }

    &__container {
        margin-right: 5px;
    }
    
    &__artist {
        font-weight: 700;
        font-size: 14px;
    }


    &__description {
        @include mobilepadding;
        border-top: 2px solid $color-mercury;
        line-height: 1.5;
        font-size: 17px;
    }

    &__comment-count {
        font-weight: 700;
        text-transform: capitalize;
        font-size: 16px;
    }
}
