@use "../../styles/partials/_globals.scss" as *;

.video-info {
  &__section {
    margin: 0 16px;

    @include tablet {
      margin: 0 36px;
    }

    @include desktop {
      margin: 0;
    }
  }

  &__title {
    font-size: 26px;
    line-height: 45px;
    border-bottom: 2px solid $color-mercury;
    @include mobilepadding;

    @include tablet {
      font-size: 32px;
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &__item-color {
    color: $color-silver;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 1.5em 0;
    padding-bottom: 16px;

    @include tablet {
      padding-right: 2rem;
    }
  }

  &__list-gap {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 10px 0;
  }

  &__item-icon {
    display: flex;
  }

  &__container {
    display: flex;
    margin-right: 5px;
  }

  &__icon {
    width: 20px;
  }

  &__artist {
    font-weight: 700;
    font-size: 14px;
    margin-right: 5rem;

    @include tablet {
      margin-right: 0rem;
    }
  }

  &__item-views {
    display: flex;

    @include tablet {
      order: 3;
      margin-right: -8rem;
    }
  }

  &__item-likes {
    display: flex;

    @include tablet {
      order: 4;
      padding: 0;
    }
  }

  &__timestamp {
    margin-right: 5.5rem;

    @include tablet {
      padding: 0;
      margin-left: -8rem;
    }
  }

  &__description {
    @include mobilepadding;
    border-top: 1px solid $color-mercury;
    line-height: 1.5;
    font-size: 17px;

    @include tablet {
      font-size: 14px;
      padding-right: 2rem;
    }
  }

  &__comment-count {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 16px;

    @include tablet {
      margin-top: 2rem;
    }
  }
}
