@use "../../styles/partials/_typography.scss" as *;

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body,
textarea {
  box-sizing: border-box;
  font-family: "AvenirNext LT Pro", sans-serif;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

// --------------------------- Variables ------------------>

// Primary Colours
$color-graphite: #323232;
$color-blue: #0095ff;
$color-silver: #afafaf;
$color-white: #ffffff;

// Secondary Colours
$color-black: #000000;
$color-darkblue: #0065ad;
$color-mercury: #e1e1e1;
$color-alabaster: #fafafa;

$mobile-padding-16px: 1rem;
$mobile-padding-24px: 1.5rem;

$tablet-padding-36px: 2.25rem;
$desktop-padding-48px: 3rem;

// --------------------------- Variables ------------------>

// --------------------------- Mixins ------------------>

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin button {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%;
  max-height: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #0095ff;
  border: none;
  border-radius: 5px;
}

@mixin avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

@mixin mobilepadding {
  padding-top: 24px;
  padding-bottom: 16px;
}

@mixin tb-dsk-padding {
  padding-top: 36px;
  padding-bottom: 24px;
}

// --------------------------- Mixins ------------------>
