@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url(../../assets/Font/font-formats/AvenirNextLTPro-Regular.ttf) format('truetype'),
         url(../../assets/Font/font-formats/AvenirNextLTPro-Regular.woff) format('woff'),
         url(../../assets/Font/font-formats/AvenirNextLTPro-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url(../../assets/Font/font-formats/AvenirNextLTPro-Bold.ttf) format('truetype'),
        url(../../assets/Font/font-formats/AvenirNextLTPro-Bold.woff) format('woff'),
        url(../../assets/Font/font-formats/AvenirNextLTPro-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}