@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint){
        @content;   
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint){
        @content;   
    }
}

@mixin button {
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0.7em;
    color: $color-white;
    background-color: $color-graphite;
    border: none;
    border-radius: 5px;
}