// --------------------------- Variables ------------------>

// Primary Colours
$color-graphite: #323232; //brainflix-black
$color-blue: #0095FF; 
$color-silver: #AFAFAF;
$color-white: #FFFFFF; 

// Secondary Colours
$color-black: #000000;
$color-darkblue: #0065AD;
$color-mercury: #E1E1E1;
$color-alabaster: #FAFAFA;


// DESKTOP / TABLET
// Padding before headlines: 36px
// Padding after headlines: 24px
// Padding between components: 24px

// MOBILE
// Padding before headlines: 24px
// Padding after headlines: 16px
// Padding between components: 16px




$mobile-padding-16px: 1rem;
$mobile-padding-24px: 1.5rem;

$tablet-padding-36px: 2.25rem;
$desktop-padding-48px: 3rem;


$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;  


// --------------------------- Variables ------------------>