@use '../../styles/partials/_globals.scss' as *;

.form {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    @include mobilepadding;

    &__avatar-box {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }

    &__avatar {
        @include avatar;
    }

    &__submit-box {
        width: 78%;
    }

    &__title {
        text-transform: uppercase;
        color: $color-silver;
        font-weight: 700;
        font-size: 12px;
    }

    &__userInput {
        resize: none;
        width: 100%;
        min-height: 6rem;
        margin-top: 8px;
        padding: 10px;
        border: 2px solid $color-mercury;
        border-radius: 5px;
        background-color: rgba(236, 236, 236, 0.5);
    }

    &__btn {
        @include button;

    }

}