@use '../../styles/partials/_globals.scss' as *;

.header {
    padding: 0 16px;
    
    &__nav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__logo-box {
        display: flex;
        justify-content: space-around;
    }
    
    &__img{
        width: 10rem;
        margin: 1em;
    }
    
    &__search-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    &__search {
        width: 100%;
        font-size: 18px;
        background-color: $color-alabaster;
        background: url("../../assets/Icons/search.svg") no-repeat;
        background-position: 4%;
        flex: 1;
        padding: .5em 1em;
        border: 2px solid $color-mercury;
        border-radius: 5px;
        text-indent: 0.8rem;
    }
    
    &__user-logo{
        @include avatar;
    }

    &__btn {
        @include button
    }

    &__btn-icon {
        max-width: 10%;
    }
}