@use "../../styles/partials/_globals.scss" as *;

.videoplayer {
  min-height: 30vh;
  margin-top: 1rem;
  margin-bottom: 3rem;

  &__frame {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: $color-black;

    @include tablet {
      height: 25rem;
    }
  }
}
